:root {
  font-family: "Roboto", sans-serif;
  line-height: 1.5;
  font-weight: 400;

  --primary-color: rgb(60, 55, 68);
  --secondary-color: rgb(236, 236, 236);
  --background-card-color: rgb(235, 235, 235);
  --accent-color: rgb(255, 28, 28);
  --border-color : rgb(222, 222, 222);
}

body {
  margin: 0;
  max-height: 100vh;
}

a {
  text-decoration: none;
  color: var(--primary-color);
}

a:hover {
  color: var(--accent-color);
}
