.Cards-container {
    display: flex;
    flex-direction: row;
    background-color: var(--background-card-color);
    border-radius: 1rem;
    border: 1px solid black;
    overflow: hidden;
    margin: 2rem 0 4rem 0;
}

.Cards-infos {
    background-color: var(--primary-color);
    color: var(--secondary-color);
    padding: 2rem;
    flex: 1;
}

.Cards-infos h1 {
    margin-bottom: 2rem;
}

.Cards-infos-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 20px;
    justify-content: center;
    align-items: center;
}

.Cards-infos-grid-title {
    font-weight: 500;
    font-size: 1.2rem;
    margin: 0;
}

.Cards-infos-grid-value {
    font-size: 1.5rem;
    font-weight: 600;
    margin: 0;
    text-align: end;
}

.Cards-infos-grid-value .value-unit {
    font-size: 1rem;
    font-weight: 400;
}

.Cards-img-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 2;
}

.Cards-img-container img {
    width: 80%;
    height: auto;
}

@media (max-width: 768px) {
    .Cards-container {
        flex-direction: column;
    }
}