.Homepage {
    margin: 2rem auto;
    width: 50%;
}

.border {
    border: 1px solid var(--border-color);
    border-radius: 2rem;
    padding: 1rem 4rem;
}

.Homepage-searchBar-container {
    margin-bottom: 2rem;
}

.Homepage-searchBar {
    display: flex;
    justify-content: center;
    margin-bottom: 2rem;
}

.Homepage-searchBar-input {
    padding: 0.6rem;
    width: 60%;
    font-size: 1rem;
    border: 1px solid black;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
}

.Homepage-searchBar-button {
    display: flex;
    align-items: center;
    border: 1px solid black;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    cursor: pointer;
    background-color: var(--primary-color);
}

.Homepage-searchBar-button:hover {
    background-color: var(--accent-color);
}

.Homepage-searchBar-button img {
    width: 20px;
    height: 20px;
}

.Homepage-search-results-list {
    list-style-type: none;
}

.Homepage-search-results-list-item {
    background-image: url("./../pokemon-icon.svg");
    background-repeat: no-repeat;
    padding-left: 2rem;
    margin: 5px 0;
}

@media (max-width: 991px) {

    .Homepage {
        width: 80%;
    }

    .Homepage-searchBar-input {
        width: 80%;
    }

    .Homepage h2 {
        font-size: 1.3rem;
    }

    .border {
        padding: 1rem 3rem;
    }
}